<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header m-3">
                    <h3 style="color: #012E40;">Actulizar informacion</h3>
                </div>
                <div class="card-body">
                    <form action="/profile/edit" method="POST">
                        <div class="form-group mt-2">
                            <input type="text" value="{{ user.nombre }}" name="nombres" placeholder="Nombres"
                                class="form-control" autofocus autocomplete="off">
                        </div>

                        <div class="form-group mt-2">
                            <input type="text" value="{{ user.direccion }}" name="direccion" placeholder="Direccion"
                                class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group mt-2">
                            <input type="text" value="{{ user.telefono }}" name="telefono" placeholder="Telefono"
                                class="form-control" autocomplete="off">
                        </div>

                        <div class="form-group mt-2">
                            <input type="email" value="{{ user.email }}" name="email" placeholder="Email"
                                class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group mt-2">
                            <input type="password" value="{{ user.password }}" name="password" placeholder="Contraseña"
                                class="form-control" autocomplete="off">
                        </div>

                        <div class="form-group mt-2">
                            <button type="submit" class="btn btn-block mt-3"
                                style="background-color: #012E40; color:white">
                                Actializar
                            </button>
                            <a href="/profile" class="btn mt-3 btn-outline-danger">
                                Cancelar
                            </a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>