<style>
    .p-right {
        display: flex;
        justify-content: flex-end;
    }
</style>

<div class="container p-4">

    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="p-right">
                <a class="btn btn-success my-2" href="/signup-cola">Colaborador</a>
            </div>
            <div class="card text-center">
                <div class="card-header m-3">
                    <h3 style="color: #012E40;">Registrate</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo.png" class="card-img-top mx-auto m-2 rounded-circle w-50 mb-4" alt="logo">
                    <form action="/signup" method="POST">
                        <div class="form-group mt-2">
                            <input type="text" name="nombres" value="{{valuesForm.nombres}}" placeholder="Nombres"
                                class="form-control" autofocus autocomplete="off">
                        </div>
                        <div class="form-group mt-2">
                            <input type="text" name="username" value="{{valuesForm.username}}" placeholder="Cedula"
                                class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group mt-2">
                            <input type="text" name="direccion" value="{{valuesForm.direccion}}" placeholder="Direccion"
                                class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group mt-2">
                            <input type="text" name="telefono" value="{{valuesForm.telefono}}" placeholder="Telefono"
                                class="form-control" autocomplete="off">
                        </div>

                        <div class="form-group mt-2">
                            <input type="email" name="email" value="{{valuesForm.email}}" placeholder="Email"
                                class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group mt-2">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control"
                                autocomplete="off">
                        </div>
                        <div class="form-group mt-2">
                            <input type="password" name="password_conf" placeholder="Repetir contraseña"
                                class="form-control" autocomplete="off">
                        </div>

                        <div class="form-group mt-2">
                            {{> message}}
                            <button class="btn btn-block mt-3" style="background-color: #012E40; color:white">
                                Registrarse
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>